// font-colors
$font-color-main: #ffffff;
// $font-color-orange: #ffc600;
// $font-color-white: #ffffff;
// bcg colors
$bcg-color1: #121c1e;
$bcg-color2: #192f2d;
$bcg-color3: #278d9f;
$bcg-selected: #e89829;
$bg-blur: rgba(31, 112, 127, 0.3);
$bcg-danger: #df4759;
$bcg-success: #42ba2c;
$bcg-success-hover: #42ba96;

$bcg-color-white: #ffffff;

// $bcg-color-dark: rgba(0, 0, 0, 0.5);
// $bcg-color-orange: #ffc600;
// $bcg-color-gray: rgb(182, 182, 182);
//border-color
// $border-color-gray: rgb(182, 182, 182);
// $border-color-orange: #ffc600;
// $border-color-white: #ffffff;
//box-shadow
// $box-shadow-dark: rgba(0, 0, 0, 0.5);
// $box-shadow-gray: rgb(128, 128, 128);
// $box-shadow-orange: #ffc600;
// fonts
// $font-main: 'Arial', sans-serif;
// $font-sec: 'Arial', sans-serif;
// $font-add: 'Arial', sans-serif;
// transition
// $trans: 0.35s linear;
// $trans-long: 0.75s linear;

$minwidth: 320px;
// Контейнер $mw
$mw: 1400;
$md1: $mw + 12px;
$md2: 1024px;
$md3: 768px;
$md4: 420px;

// active color
// $activeColor: #c5b358;

// Доп шрифт
// $fontfamily2: 'Forum', cursive;

// Размер основной
// $fontSize1: 80px;
// $fontSize2: 32px;

//Bg-dark
// $color1: #030303;
