.myInput {
  position: relative;
  min-width: 280px;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: left;

  label {
    display: block;
    padding-left: 15px;
    margin-bottom: 5px;
  }

  input {
    display: block;
    max-width: 300px;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 25px;
    letter-spacing: 2px;
    backdrop-filter: blur(6px);
    background-color: rgba(31, 112, 127, 0.3);
    border: 3px solid #278d9f;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease 0s;

    &:focus{
       border: 3px solid #e89829;
    }
  }

  span {
    position: absolute;
    bottom: 0;
    left: 15px;
    color: #e1646e;
    font-size: 12px;
    // margin-top: 5px;
  }
}

.myInput.invalid label {
  color: #e1646e;
}

.search input {
  background-image: url('../../../assets/svg/search.svg');
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 5px 25px 5px 50px;
}

.file {
  input {
    font-size: 12px;
  }

  img {
    display: block;
    width: 50px;
    position: absolute;
    left: 320px;
    top: 50%;
    transform: translateY(-50%);
  }
}
